@model app.domain.Models.ListeSignalement

@{
	ViewData["Title"] = "Edit";
}

<h1>Feu de forêt</h1>

<table class="table">
	<thead>
		<tr>
			<td>
				<h4>Nature de l'évènement</h4>
				<p>Quelqu'un a oublié de fermer son BBQ</p>
			</td>
		</tr>
		<tr>
			<td>
				<h4>Secteur touché</h4>
				<p>Dans la forêt à côté de Roger-Comptois</p>
			</td>
		</tr>
		<tr>
			<td>
				<h4>Moment reporté</h4>
				<p>13 février 2036 vers 23h53</p>
			</td>
		</tr>
		<tr>
			<td>
				<h4>Commentaire</h4>
				<p>La forêt est en feu et il fait chaud.</p>
			</td>
		</tr>
		<tr>
			<td>
				<button type="button">Publier alerte</button> <button type="button">Supprimer</button> <button type="button">Police</button> <button type="button">Ambulance</button> <button type="button">Pompier</button>
			</td>
		</tr>

	</thead>
</table>