@model app.domain.Models.ListeSignalement

@{
    ViewData["Title"] = "Edit";
}

<h1>Tsunami</h1>

<table class="table">
	<thead>
		<tr>
			<td>
				<h4>Nature de l'évènement</h4>
				<p>Tremblement de terre dans l'ocean?</p>
			</td>
		</tr>
		<tr>
			<td>
				<h4>Secteur touché</h4>
				<p>Le vieux Québec au complet</p>
			</td>
		</tr>
		<tr>
			<td>
				<h4>Moment reporté</h4>
				<p>30 novembre 2025 vers 18h34</p>
			</td>
		</tr>
		<tr>
			<td>
				<h4>Commentaire</h4>
				<p>Les rues sont remplies d'eau ! On peut même plus sortir dehors</p>
			</td>
		</tr>
		<tr>
			<td>
				<button type="button">Publier alerte</button> <button type="button">Supprimer</button> <button type="button">Police</button> <button type="button">Ambulance</button> <button type="button">Pompier</button>
			</td>
		</tr>
		
	</thead>
</table>