@model IEnumerable<app.domain.Models.ListeSignalement>

@{
	ViewData["Title"] = "Liste des signalements";
}

<div>
	<h1>Liste des signalements</h1>
</div>

<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Titre)
			</th>
		</tr>
	</thead>
	<tbody>
	</tbody>
</table>